<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block  title %} {% endblock %}</title>
</head>
<body>
    <header class="header">
<a class="logo">
L
</a>
<nav class="nav">
<a href="#posts" class="nav-item">1</a>
<a href="#comments" class="nav-item">2</a>
<a href="#footer" class="nav-item">3</a>
<a href="#posts" class="nav-item">4</a>
</nav>

</header>
<main class="main">

        <div class="box-base">
        <h1>Adding a new server</h1>

        </div>


<div class="content">


     <form method="post" action="/add_message">
<table class="iksweb">
	<tbody>

		<tr>
			<td>ID:</td>
			<td><input type="text" name="ID" autocomplete="off"> <br></td>
		</tr>

		<tr>
			<td> port: </td>
			<td><input type="text" name="port" autocomplete="off"> <br></td>
		</tr>

        <tr>
			<td> protocol: </td>
            <br>
			<td>

                <form action="/maih.html">
                      <label for="protocol"></label>
                      <select id="protocol" name="protocol">
                        <option value="JSON">JSON</option>
                        <option value="BIN">BIN</option>
                        <option value="TSL UMD v3.1">TSL UMD v3.1</option>
                        <option value="sound">sound</option>
                      </select>

                    </form>


            </td>
		</tr>

		<tr>
            <td colspan="2"><button type=" submit"> Add server </button></td>
		</tr>




	</tbody>
</table>
</form>


<br>





</div>
 <div class="box-base">
        <h1>List of active servers:</h1>
</div>
{% for key, value in servers.items() %}

    <div class="borderElement" >
        <p> ID:  {{ value.ID}} <br> </p>
        <p> port:  {{ value.port}} <br> </p>
        <p> protocol:  {{ value.protocol}} <br> </p>
        <p> <form action="/delete"> <button type="submit"> Delete server </button> <input type="hidden" id="servIndex" name="servIndex" value=key><br>  </form> </p>
    </div>
    {% endfor %}


</main>
<footer class="footer"  id="footer">
Подвал
    <p>Памагите, я в подвале!!!</p>
</footer>
</body>
</html>